* {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

.gradiente {
  background-image: linear-gradient(to left, #13e6c9, #fd00db); }

aside {
  margin-top: 50px;
  margin-bottom: 200px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 80px;
  padding-bottom: 30px;
  background-color: white; }
  aside aside:hover {
    transform: scale(1.2); }

body {
  background-color: #DFE0DF; }

h1 {
  text-align: center;
  font-family: 'Merriweather', serif;
  font-size: 35px;
  margin-top: 100px;
  padding-bottom: 70px; }

.titulo {
  margin-top: 100px; }

h2, h3, h4 {
  text-align: center;
  font-family: 'raleway',sans-serif;
  font-size: 30px;
  padding-bottom: 5px;
  padding-top: 10px;
  letter-spacing: none; }

header {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: left; }

footer {
  background-color: gray;
  color: honeydew;
  font-size: 15px;
  padding-top: 30px;
  padding-bottom: 30px; }

article {
  padding-bottom: 15px;
  margin-bottom: 30px;
  margin-top: 30px;
  font-family: 'Merriweather',serif;
  font-size: 25px;
  letter-spacing: normal;
  word-spacing: normal;
  text-align: center; }

main {
  display: grid;
  grid-template-rows: 3fr 3fr;
  grid-template-areas: "content   " "prodindex";
  gap: 1rem; }

article {
  grid-area: content; }

div {
  grid-area: prodindex; }

table {
  font-family: 'Merriweather',serif;
  font-size: 20px;
  word-spacing: 5px;
  text-align: center; }

.img {
  margin-top: 50px;
  text-align: center;
  margin-bottom: 100px; }

.prodindex {
  text-align: center;
  margin-top: 20px;
  padding-top: 120px;
  margin-bottom: 50px; }

.receta {
  list-style: none;
  align-items: center;
  margin-bottom: 50px;
  margin-left: 100px;
  margin-right: 100px; }

.receta__ingredientes {
  margin-top: 150px;
  margin-bottom: 350px;
  margin-left: 150px;
  margin-right: 150px;
  list-style: none;
  text-align: center;
  overflow: hidden; }

section {
  letter-spacing: 5px;
  line-height: 20px;
  text-align: center;
  font-family: 'Merriweather',serif;
  font-size: 20px;
  overflow: hidden;
  background-color: #FBF4F4;
  margin-left: 100px;
  margin-right: 100px; }

.contacto {
  display: flex;
  flex-direction: column; }

.formulario {
  display: flex;
  flex-direction: column; }

button {
  border: outset;
  border-color: #79df2c;
  background-color: #7CE32D; }
